.pageRegister{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerRegister{
    width: 393px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnBack{
    width: 67px;
    height: 40px;
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    color: #F8F9FA;
    cursor: pointer;
}

.btnBack:hover{
    background-color: #343B41;
    border: 1px solid #343B41;
}